/* Because the default box-sizing is stupid... */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* #root and #__next cover my usual frameworks - Optional if you arent using one! */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Stop long words causing overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
