@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --green: rgb(213, 243, 207);
  --pink: rgb(248, 214, 250);
  --yellow: rgb(246, 243, 153);
  --calculator-text-color: rgb(19, 15, 42);
  --white: rgba(255, 255, 255, 1);
  --light-grey: rgba(244, 245, 247, 1);
  --dark-grey: rgba(19, 15, 42, 0.3);
  --dark: rgb(19, 15, 42);
  --light-pink: rgba(248, 214, 250, 1);
  --pink-text-accent: rgba(249, 174, 253, 1);
  --yellow-text-accent: rgb(255, 197, 72);
  --green-text-accent: rgba(139, 214, 124, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--dark);
  background-color: var(--white);
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1740px;
  margin-inline: auto;
  padding-inline: 10px;
}

/* стили для header */

.header__inner {
  max-width: 1140px;
  display: flex;
  margin-inline: auto;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(19, 15, 42, 0.05);
  box-shadow: 0 0 20px 0 rgba(19, 15, 42, 0.05);
  margin-block: 60px 10px;
}

.header__menu-list {
  display: flex;
  gap: 40px;
}

.header__menu-link {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
}

.header__logo-image {
  max-width: 251px;
  height: auto;
}

.header__menu-btn {
  display: none;
  max-width: 50px;
  max-height: 34px;
  border: none;
  background-color: transparent;
}

.menu-title {
  display: none;
  font-size: 80px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.14);
  margin-bottom: 24px;
  padding-inline: 23px;
}

/* Стили для hero */

.hero__wrapper {
  background-image: url(../images/hero-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 80px 506px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-position: center;
}

.hero__body {
  max-width: 1050px;
  align-items: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: 600;
}

.hero__text-accent {
  background: linear-gradient(0deg, #c9f5bf 0%, #fafff9 100%);
}

.hero__text {
  margin-bottom: 60px;
  color: rgba(19, 15, 42, 0.7);
  font-size: 24px;
}

.hero__button {
  display: inline-block;
  padding: 16px 40px;
  background-color: #130f2a;
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero__button:hover {
  background-color: var(--light-pink);
  color: var(--dark);

  transform: scale(1.1);
}

.hero__button:active {
  background-color: rgba(249, 174, 253, 1);
}

/* Стили для audience */

.audience {
  padding-block: 140px 100px;
}

.audience__card {
  max-width: 450px;
  height: 320px;
  border: 5px solid grey;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49.5px 60px;
  font-size: 20px;
  flex-shrink: 0;
}

.audience__line:first-of-type {
  margin-bottom: 40px;
}

.audience__title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 12px;
  text-align: center;
}

.audience__description {
  text-align: center;
  max-width: 330px;
  color: rgba(19, 15, 42, 0.698);
}

.audience__card-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}

.audience__line {
  gap: 40px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-border {
  border-color: #f8d6fa;
}

.green-border {
  border-color: #d5f3cf;
}

.yellow-border {
  border-color: #f6f399;
}

/*стили для info */

/* базовые стили */

.info__wrapper {
  padding-block: 100px;
  display: flex;
  line-height: 1.3;
  gap: 426px;
  align-items: flex-start;
}

.info__content {
  display: flex;
  flex-direction: column;
}

.info__text {
  font-weight: 500;
  font-size: 40px;
  color: var(--dark);
  margin-bottom: 60px;
  max-width: 995px;
}

.info__text-small {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 60px;
}

.info__text-accent {
  color: var(--pink);
}

.info__section-tag {
  font-size: 44px;
  font-weight: 600;
  color: rgba(19, 15, 42, 0.2);
}

.info__help-card-group {
  gap: 20px;
  display: flex;
}

.info__help-card-text {
  font-size: 28px;
}

.info__number-circle {
  width: 80px;
  height: 80px;
  background-color: var(--white);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  flex-shrink: 0;
}

.circle-column {
  margin-bottom: 52px;
}

.info__help-card-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__help-card-rows p {
  text-align: center;
  max-width: 380px;
}

.help-card-row {
  max-width: 560px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px 40px;
}

.info__help-card {
  border-radius: 24px;
}

.help-card-column {
  max-width: 415px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.background-pink {
  background-color: #f8d6fa;
}

.background-green {
  background-color: #d5f3cf;
}

.background-yellow {
  background-color: #f6f399;
}

/* медиазапросы */

@media (max-width: 1650px) {
  .info__wrapper {
    padding-block: 80px;
    flex-direction: column;
    line-height: 1.3;
    gap: 20px;
    align-items: center;
  }

  .info__section-tag {
    font-size: 28px;
    text-align: left;
    width: 100%;
  }

  .info__text {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .info__text-small {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .info__content {
    max-width: 688px;
    width: 100%;
  }

  .help-card-column {
    max-width: 333px;
    height: 192px;
    padding-inline: 24px;
  }

  .info__help-card {
    border-radius: 20px;
  }

  .info__help-card-text {
    font-size: 16px;
  }

  .info__number-circle {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .circle-column {
    margin-bottom: 24px;
  }

  .help-card-row {
    max-width: 335px;
    height: 86px;
    gap: 20px;
    padding: 18px 24px;
  }
}

@media (max-width: 768px) {
  .info__wrapper {
    padding-block: 40px;
  }
  .info__section-tag {
    font-size: 16px;
  }

  .info__text {
    font-size: 20px;
  }

  .info__text-small {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .info__help-card-group {
    flex-direction: column;
    gap: 14px;
  }
  .help-card-column {
    height: 80px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .info__number-circle {
    width: 50px;
    height: 50px;
  }
  .info__help-card-text {
    font-size: 12px;
  }
  .info__help-card {
    padding: 15px 24px;
  }
  .help-card-row {
    height: 80px;
  }
  .circle-column {
    margin-bottom: 0px;
  }
}

/* Стили для how-it-works */

.how-it-works__wrapper {
  padding-block: 100px;
}

.how-it-works__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  line-height: 1.3;
}

.how-it-works__text {
  font-size: 40px;
  font-weight: 500;
  max-width: 995px;
}

.how-it-works__accent {
  color: var(--yellow-text-accent);
}

.how-it-works__section-tag {
  font-size: 44px;
  font-weight: 600;
  color: rgba(19, 15, 42, 0.2);
}

.how-it-works__step-list {
  display: flex;
  gap: 92px;
  justify-content: center;
  margin-bottom: 140px;
}

.how-it-works__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  position: relative;
}

.how-it-works__step-number {
  background-color: rgb(19, 15, 42, 0.05);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works__step-content {
  width: 280px;
}

.how-it-works__step-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 28px;
}

.how-it-works__step-description {
  font-size: 20px;
  font-weight: 400;
  color: rgba(19, 15, 42, 0.7);
  line-height: 1.2;
}

.how-it-works__result-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 60px;
}

.how-it-works__step:not(:last-child)::after {
  content: "• • •";
  position: absolute;
  top: 21%;
  left: 96%;
  transform: translateY(-50%);
  font-size: 29px;
  color: rgba(19, 15, 42, 0.05);
  margin-left: 20px;
  letter-spacing: 5px;
  white-space: nowrap;
}

.how-it-works__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.how-it-works__card {
  border-radius: 24px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 315px;
}

.how-it-works__card-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.how-it-works__card-description {
  color: rgba(19, 15, 42, 0.7);
  font-size: 20px;
}

.how-it-works__value-box {
  font-size: 50px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
  gap: 14px;
  line-height: 1.2;
  white-space: nowrap;
}

.how-it-works__currency {
  color: rgba(19, 15, 42, 0.3);
}

.how-it-works__card-value {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark);
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 12px;
}

.how-it-works__card-currency {
  font-size: 40px;
  font-weight: 700;
  color: rgba(19, 15, 42, 0.3);
}

.how-it-works__card:nth-child(1) {
  background-color: var(--green);
}

.how-it-works__card:nth-child(2) {
  background-color: var(--green);
}

.how-it-works__card:nth-child(3) {
  background-color: var(--pink);
}

.how-it-works__card:nth-child(4) {
  background-color: var(--yellow);
}

/* Стили для calculator */

.calculator__wrapper {
  color: var(--calculator-text-color);
  position: relative;
  padding: 80px 60px;
  border-radius: 60px;
  background-color: var(--light-grey);
  background-image: url("../images/calculator-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  color: var(--calculator-text-color);
}

.calculator {
  padding-block: 100px;
}

.calculator__header {
  padding-block: 24px;
  margin-bottom: 80px;
}

.calculator__title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
}

.calculator__text {
  text-align: center;
  font-size: 24px;
  text-align: center;
}

.calculator__body {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 40px;
}

.calculator__subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.calculator__form {
  background-color: var(--white);
  padding: 40px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.calculator__skills {
  grid-column: span 2;
}

.calculator__clear-button {
  font-size: 16px;
  color: var(--dark-grey);
  background-color: transparent;
  border: none;
  outline: none;
}

.calculator__label-wrapper {
  display: flex;
  justify-content: space-between;
}

.calculator__label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  color: var(--text-color);
}

input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: var(--light-grey);
  color: var(--text-color);
  height: 50px;
}
.calculator__input--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.calculator__arrow-button {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.calculator__dropdown {
  padding: 8px 12px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  border-radius: 1px;
  margin-top: 5px;
}

.calculator__result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.calculator__salary-range {
  grid-column: span 2;
  background-color: var(--green);
  border-radius: 24px;
  padding: 24px;
}

.result-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
}

.calculator__salary-range-values {
  display: flex;
  align-items: center;
}

.output-box {
  color: rgba(19, 15, 42, 0.3);
  font-size: 32px;
  font-weight: 700;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  gap: 10px;
  line-height: 38px;
  white-space: nowrap;
  line-height: 1.18;
}

.calculator__salary-separator {
  width: 63px;
  height: 10px;
  background-color: var(--white);
}

.calculator__avg-salary {
  background-color: var(--pink);
  padding: 24px;
  border-radius: 24px;
}

.calculator__median-salary {
  background-color: var(--yellow);
  padding: 24px;
  border-radius: 24px;
}

.calculator__form-warning {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
}

/* стили для team */

.team__wrapper {
  padding-block: 100px;
  display: grid;
  grid-template-areas:
    "card1 header header card2"
    "card3 card4 card5  card6"
    "card7 card8 card9 card10";
  gap: 20px;
}

.team__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  grid-area: header;
}

.system-alanyst {
  grid-area: card1;
  background-image: url(../images/team/system-analyst.jpg);
}

.frontend-1 {
  grid-area: card2;
  background-image: url(../images/team/frontend-2.png);
}

.frontend-2 {
  grid-area: card3;
  background-image: url(../images/team/frontend-1.jpg);
}

.project-manager {
  grid-area: card4;
  background-image: url(../images/team/project-manager.jpg);
}

.data-analyst {
  grid-area: card5;
  background-image: url(../images/team/data-scientist.jpg);
}

.data-scientist {
  grid-area: card6;
  background-image: url(../images/team/data-analyst.jpg);
}

.ux-ui-designer {
  grid-area: card7;
  background-image: url(../images/team/uxui-designer.jpg);
}

.frontend-3 {
  grid-area: card8;
  background-image: url(../images/team/frontend-3.jpg);
}

.backend {
  grid-area: card9;
  background-image: url(../images/team/backend.jpg);
}

.frontend-4 {
  grid-area: card10;
  background-image: url(../images/team/frontend-4.jpg);
}

.team__card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 415px;
  padding: 20px;
  border-radius: 20px;
  min-width: 334px;
  aspect-ratio: 415 / 483;
  background-size: cover;
}

.team__card-text {
  height: 88px;
}

.team__section-tag {
  color: rgba(19, 15, 42, 0.2);
  font-weight: 600;
  line-height: 1.3;
  font-size: 44px;
}

.team__text {
  color: var(--dark);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
}

.team__card-text {
  background-color: var(--white);
  padding: 16px;
  border-radius: 12px;
}

.team__role {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  color: rgba(19, 15, 42, 0.3);
}

/* стили для company */

.company__wrapper {
  padding-block: 100px;
}

.company__title {
  display: flex;
  justify-content: space-between;
}

.company__section-tag {
  font-size: 44px;
  line-height: 1.3;
  font-weight: 600;
  color: rgba(19, 15, 42, 0.2);
}

.company__text {
  color: var(--dark);
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.company__credit {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 500;
  max-width: 993px;
}

.company__description {
  font-size: 28px;
  font-weight: 400;
  max-width: 995px;
}

.company__link-accent {
  color: var(--green-text-accent);
}

/* стили для footer */

.footer__container {
  margin-block: 100px 40px;
  max-width: 1840px;
  margin-inline: auto;
}

.footer__wrapper {
  background-color: var(--dark);
  padding: 91px 63.5px 40px 63.5px;
  border-radius: 60px;
  width: 100%;
}

.footer__menu-list {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 50px;
}

.footer__menu-link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
}

.footer__title {
  font-size: 228px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.14);
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
}

.hidden {
  display: none;
}

@media (max-width: 1901px) {
  .container {
    max-width: 1780px;
    padding-inline: 40px;
  }
  .how-it-works__step-list {
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-bottom: 80px;
  }

  .how-it-works__step:not(:last-child)::after {
    content: "•\A•\A•";
    position: absolute;
    left: 11px;
    top: 100%;
    transform: translateY(0);
    font-size: 29px;
    color: rgba(19, 15, 42, 0.05);
    letter-spacing: 5px;
    white-space: pre;
    line-height: 20px;
  }

  .how-it-works__step-content {
    text-align: left;
  }
  .how-it-works__step {
    flex-direction: row;
    gap: 40px;
    width: 500px;
  }
  .how-it-works__step-number {
    flex-shrink: 0;
  }
  .footer__title {
    font-size: 180px;
  }
}

@media (max-width: 1800px) {
  .how-it-works__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1700px) {
  .company__title,
  .company__text {
    flex-direction: column;
    align-items: flex-start;
  }

  .company__description {
    order: 0;
    font-size: 16px;
    margin-bottom: 72px;
  }
  .company__logo {
    order: 1;
    align-self: center;
    padding: 32px 183px;
    border: 1px solid rgba(19, 15, 42, 0.1);
    border-radius: 20px;
  }
  .company__section-tag {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .company__credit {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .footer__title {
    font-size: 80px;
    gap: 50px;
  }
}

@media (max-width: 1500px) {
  .team__header {
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .team__section-tag {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .team__text {
    font-size: 24px;
  }
  .team__wrapper {
    grid-template-areas:
      "header header"
      "card1 card2"
      "card3 card4"
      "card5  card6"
      "card7 card8"
      "card9 card10";
    gap: 20px;
    justify-content: center;
  }
  .team__card {
    align-self: center;
  }

  .audience {
    padding-block: 100px 80px;
  }

  .audience__description {
    font-size: 12px;
  }
  .audience__title {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .audience__card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }
  .audience__card {
    padding: 28px 24px;
    max-width: 215px;
    height: 170px;
    border-width: 2px;
  }
}

@media (max-width: 1440px) {
  .hero__wrapper {
    background-image: url(../images/hero-background-small.svg);
    padding-block: 40px 600px;
    background-size: contain;
  }
  .how-it-works__wrapper,
  .calculator__wrapper,
  .team__wrapper,
  .company__wrapper {
    padding-block: 80px;
  }
  .footer__wrapper {
    margin-block: 80px 40px;
  }
  .how-it-works__description {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .how-it-works__step-title {
    font-size: 20px;
  }
  .how-it-works__step-description {
    font-size: 16px;
  }
  .how-it-works__step-number {
    font-size: 28px;
    width: 60px;
    height: 60px;
  }
  .how-it-works__section-tag {
    margin-bottom: 20px;
    font-size: 20px;
    order: 0;
  }
  .how-it-works__text {
    order: 1;
    font-size: 24px;
  }
  .how-it-works__value-box {
    line-height: 1.2;
    font-size: 40px;
  }
  .how-it-works__card-title {
    font-size: 20px;
  }
  .calculator__wrapper {
    padding: 40px;
  }
  .calculator__title {
    font-size: 40px;
  }
  .calculator__text {
    font-size: 16px;
  }
  .calculator__header {
    padding: 24px 60px;
    margin-bottom: 60px;
  }
  .calculator__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .calculator__form {
    padding: 24px;
  }
  .calculator__result-wrapper {
    margin-bottom: 10px;
  }
  .how-it-works__card-description {
    font-size: 16px;
  }
  .how-it-works__card {
    min-height: 230px;
    padding: 24px;
    gap: 47px;
  }
}

@media (max-width: 1310px) {
  .calculator__body {
    grid-template-columns: 1fr;
  }
  .calculator__salary-separator {
    flex-grow: 1;
  }
  .footer__menu-list {
    flex-direction: column;
    margin-left: 60px;
    gap: 40px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 24px;
  }
}

@media (max-width: 992px) {
  .header {
    position: relative;
  }
  .header__logo-image {
    max-width: 208px;
    max-height: 33px;
  }
  .header__inner {
    padding: 12.5px 16px;
    margin-block: 60px 40px;
  }
  .header__menu-btn {
    display: block;
  }
  .header__menu {
    display: none;
    position: absolute;
    top: 102px;
    left: 40px;
    right: 40px;
    width: calc(100% - 80px);
    background-color: var(--dark);
    padding-top: 60px;
    border-radius: 24px;
  }
  .header__menu.active {
    display: block;
  }
  .header__menu-list {
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 319px;
  }
  .header__menu-link {
    color: white;
    font-size: 40px;
    font-weight: 500;
  }
  .header__menu-link:hover {
    color: var(--yellow);
  }
  .menu-title {
    display: block;
    padding-inline: 43.5px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 20px;
  }
  .header__logo-image {
    content: url("../images/logo-small.svg");
  }
  .header__inner {
    margin-block: 20px;
  }
  .hero__wrapper {
    padding-top: 16px;
    background-size: cover;
  }

  .how-it-works__wrapper,
  .calculator__wrapper,
  .team__wrapper,
  .company__wrapper {
    padding-block: 40px;
  }
  .hero__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .hero__text {
    font-size: 12px;
    margin-bottom: 40px;
  }
  .hero__button {
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 14px;
  }

  .audience__line {
    flex-direction: column;
    gap: 14px;
  }

  .audience__line:first-of-type {
    margin-bottom: 14px;
  }

  .audience__title {
    font-size: 14px;
    margin-bottom: 6.13px;
    text-align: left;
  }

  .audience {
    padding-block: 80px 40px;
  }

  .audience__description {
    font-size: 12px;
    text-align: left;
  }

  .audience__card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
  }
  .audience__card {
    padding: 18px 26px;
    max-width: 215px;
    height: 170px;
    flex-direction: row;
    min-width: 280px;
    height: 100px;
    gap: 24px;
    border-radius: 14px;
  }

  .how-it-works__section-tag {
    font-size: 20px;
  }
  .how-it-works__step-title {
    font-size: 16px;
  }
  .how-it-works__step-description {
    font-size: 12px;
  }
  .how-it-works__step {
    gap: 20px;
    width: 280px;
  }
  .how-it-works__step-list {
    gap: 20px;
  }
  .how-it-works__result-title {
    font-size: 20px;
  }
  .how-it-works__cards {
    grid-template-columns: 1fr;
  }
  .how-it-works__card-description {
    font-size: 12px;
  }
  .how-it-works__value-box {
    font-size: 28px;
    padding: 16px 37px;
  }
  .how-it-works__card {
    gap: 23px;
    min-height: 171px;
    padding: 20px;
  }
  .calculator__wrapper {
    padding: 40px 20px;
    border-radius: 14px;
  }
  .calculator__header {
    margin-bottom: 36px;
    padding-top: 24px;
  }
  .calculator.container {
    padding-inline: 16px;
    margin-inline: 20px;
  }
  .calculator__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .calculator__text {
    font-size: 12px;
  }
  .calculator__subtitle {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .calculator__form {
    grid-template-columns: 1fr;
    padding: 14px 12px;
    gap: 24px;
    border-radius: 20px;
  }
  .calculator__skills {
    grid-column: span 1;
  }
  .result-subtitle {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .output-box {
    font-size: 22px;
    padding: 8px 47.5px;
    line-height: 1.18;
  }
  .calculator__salary-range {
    padding: 16px;
    grid-column: span 1;
    border-radius: 20px;
  }
  .calculator__avg-salary,
  .calculator__median-salary {
    border-radius: 20px;
    padding: 16px;
  }
  .calculator__salary-range-values {
    flex-direction: column;
  }
  .calculator__salary-separator {
    height: 38px;
    width: 10px;
  }
  .calculator__result-wrapper {
    grid-template-columns: 1fr;
  }
  .calculator__form-warning {
    font-size: 14px;
    margin-left: 25px;
  }
  .calculator__clear-button {
    font-size: 16px;
  }
  .team__section-tag {
    font-size: 16px;
  }
  .team__header {
    gap: 0;
  }
  .team__role {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 6px;
  }
  .team__name {
    font-size: 10px;
  }
  .team__card-text {
    padding: 8px 10px;
    height: 48px;
  }
  .team__card {
    padding: 6px;
    min-width: 135px;
    min-height: 170px;
    max-width: 100%;
    border-radius: 14px;
  }

  .frontend-1 .team__card-text,
  .frontend-2 .team__card-text,
  .frontend-3 .team__card-text,
  .frontend-4 .team__card-text,
  .backend .team__card-text {
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .team__header {
    grid-column: span 2;
  }
  .company__section-tag {
    font-size: 16px;
  }
  .company__credit {
    font-size: 20px;
  }
  .company__description {
    font-size: 12px;
    margin-bottom: 24px;
  }
  .company__logo-image {
    content: url("../images/lad-academy-logo.png");
  }

  .footer__container {
    padding-inline: 20px;
  }

  .footer__wrapper {
    border-radius: 14px;
    padding: 60px 0 24px 0;
  }
  .footer__menu-list,
  .header__menu-list {
    margin-left: 60px;
    margin-bottom: 100px;
  }
  .footer__menu-link,
  .header__menu-link {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .footer__title,
  .menu-title {
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-size: 50px;
    padding-inline: 22.5px;
  }
  .header__menu {
    top: 78px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    background-color: var(--dark);
    padding-top: 60px;
    border-radius: 14px;
  }
  .company__logo {
    padding: 24px 31px;
    border: 1px solid rgba(19, 15, 42, 0.1);
    border-radius: 14px;
  }
}

@media (max-width: 500px) {
  .hero__wrapper {
    background-image: url(../images/hero-background-mini.svg);
    padding-bottom: 232px;
  }
}
