@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --green: rgb(213, 243, 207);
  --pink: rgb(248, 214, 250);
  --yellow: rgb(246, 243, 153);
  --text-color: rgb(19, 15, 42);
  --white: rgba(255, 255, 255, 1);
  --light-grey: rgba(244, 245, 247, 1);
  --dark-grey: rgba(19, 15, 42, 0.3);
}

body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--text-color);
  background-color: var(--light-grey);
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.container {
  max-width: 1560px;
  margin: auto;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.calculator__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
  gap: 24px;
}

.calculator__title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.calculator__description {
  font-size: 24px;
  text-align: center;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--text-color);
}

.calculator__subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--light-grey);
  color: var(--text-color);
}

.arrow-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.dropdown {
  padding: 8px 12px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  border-radius: 1px;
  margin-top: 5px;
}

.vacancy-selection__dropdown-item,
.city-selection__dropdown-item,
.experience-selection__dropdown-item,
.schedule-selection__dropdown-item {
  padding: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  color: var(--text-color);
}

.vacancy-selection__dropdown-item:hover,
.city-selection__dropdown-item:hover,
.experience-selection__dropdown-item:hover,
.schedule-selection__dropdown-item:hover {
  background-color: var(--light-grey);
  border-radius: 4px;
}

.calculator {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 40px;
}

.calculator__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--white);
  padding: 40px;
  border-radius: 30px;
}

.skills-selection {
  grid-column: span 2;
}

.skills-selection__clear-btn {
  font-size: 16px;
  color: rgba(19, 15, 42, 0.3);
  background-color: transparent;
  border: none;
}

.skills-label-wrap {
  display: flex;
  justify-content: space-between;
}

.calculator__result__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.salary-range {
  grid-column: span 2;
  background-color: var(--green);
  padding: 24px;
  border-radius: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.salary-range__values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-box {
  color: rgba(19, 15, 42, 0.3);
  font-size: 32px;
  font-weight: 700;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  gap: 10px;
}

.salary-range_separator {
  width: 68px;
  height: 10px;
  background-color: var(--white);
}

.median-salary,
.avg-salary {
  padding: 24px;
  border-radius: 24px;
}

.median-salary {
  background-color: var(--pink);
}

.avg-salary {
  background-color: var(--yellow);
}

.form-warning {
  display: flex;
  align-items: center;
  gap: 10px;
}
